.btn-custom{
    background-color: #d90429;
    color: white;
    border: none;
}
.btn-custom:hover{
    background-color: #ef233c;
    color: black;
    font-weight: bold;
    border: none;
}
.nav-link:hover{
    font-weight: bolder;
    color: #ef233c;
}