.login-form{
    padding: 50px;
    padding-top: 20px;
    padding-bottom: 30px;
    color: white;
    margin: 30%;
    margin-top: 1%;
    margin-bottom: 1%;
}
h1{
    text-align: center;
    font-weight: bold;
}
.btn{
    width: 100%;
}
.form-check-label{
    color: gray;
}
.form-check-label a{
    text-decoration: none;
}
.form-check-label a:hover{
    color: white;
}