body{
    background-color: #343a40;
}
.terms{
    color: white;
    height: 100%;
    margin: 15%;
    margin-top: 5%;
}
.terms h2{
    text-align: center;
    font-weight: bold;
    margin-bottom: 50px;
}